/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}
VBox {
    -fx-padding: 20;
    -fx-spacing: 50;
    -fx-font-size: 18;
    -fx-alignment: CENTER;

}
Text.Title {
    -fx-font-size: 36;
    -fx-font-weight: bold;
}

GridPane {
    -fx-alignment: CENTER;

}